.html {
    color: transparent; 
    background-color: transparent;  
 }
 
 .body {
    color: transparent; 
    background-color: transparent;  
   }
 
 ._23IDiI-F_FxXotrgpY71r8{
    color: transparent; 
    background-color: transparent;
 }

._23IDiI-F_FxXotrgpY71r8 _3apLK4XGwOjawDa-8X1CUa Panel{
    color: transparent; 
    background-color: transparent;
}

.quickaccessmenu_ViewPlaceholder_2orc8:not(.quickaccessmenu_FullHeight_3ud27) {
    height: calc(100% - var(--basicui-header-height));
    width: var(--qam-width);
    padding-left: 50%;
    position: absolute;
    align-self: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    color: transparent; 
    background-color: transparent;

}

.quickaccessmenu_ViewPlaceholder_2orc8 {
    width: var(--qam-width);
    position: absolute;
    align-self: center;
    align-items: center;
    align-content: center;
    padding-left: 50%;
    justify-content: center;
    color: transparent; 
    background-color: transparent;
}

.mainmenu_ViewPlaceholder_1PGlK {
    height: calc(100% + var(--basicui-header-height));
    width: var(--main-menu-width);
    padding-left: 43%;
    position: absolute;
    align-self: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    color: transparent; 
    background-color: transparent;
    
}
