.quickaccessmenu_ViewPlaceholder_2orc8:not(.quickaccessmenu_FullHeight_3ud27) {
    height: calc(100% - var(--basicui-header-height));
    width: var(--qam-width);
    position: absolute;
    align-self: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    color: transparent; 
    background-color: transparent;

}

.header{
    padding-top: 25%;
    width: 20%;
}

.quickaccessmenu_ViewPlaceholder_2orc8 {
    width: var(--qam-width);
    position: absolute;
    align-self: center;
    align-items: center;
    align-content: center;
    padding-left: 50%;
    justify-content: center;
    color: transparent; 
    background-color: transparent;
}

.mainmenu_ViewPlaceholder_1PGlK {
    width: 100%;
    padding-left: 4.5%;
    position: absolute;
    align-self: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    color: transparent; 
    background-color: transparent;
    border-radius: 50%;
    
}
